<?xml version="1.0"?>
<!--
/**
 * Solwin Infotech
 * Solwin Contact Form Widget Extension
 *
 * @category   Solwin
 * @package    Solwin_Contactwidget
 * @copyright  Copyright © 2006-2016 Solwin (https://www.solwininfotech.com)
 * @license    https://www.solwininfotech.com/magento-extension-license/ 
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="solwin_contactwidget_contact_listing_data_source" xsi:type="string">Solwin\Contactwidget\Model\ResourceModel\Contact\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Solwin\Contactwidget\Model\ResourceModel\Contact\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">solwin_contactwidget_contact</argument>
            <argument name="resourceModel" xsi:type="string">Solwin\Contactwidget\Model\ResourceModel\Contact</argument>
        </arguments>
    </virtualType>
</config>